* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(47, 45, 45);
}

h1 {
  text-align: center;
  padding: 20px;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container .card {
  width: calc(20% - 10px);
  margin: 5px;
  background-color: brown;
  color: white;
  text-align: center;
}

.container .card h2 {
  padding-bottom: 3px;
}

.container .card span {
  font-size: 18px;
}

.container .card div {
  padding-block: 5px;
}

