*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(47, 45, 45);
}

h1{
    text-align: center;
    padding: 20px;
    color: white;
}


.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .card{
        width: calc((100% / 5) - 10px);
        margin: 5px;
        background-color: brown;
        color: white;
        text-align: center;
        
        h2{
            padding-bottom: 3px;
        }

        span{
            font-size: 18px;
        }

        div{
            padding-block: 5px;
        }
       
        
    }
}